h1, h2, h3, p {
    color: #151515;
}
h1 {
    font-family: 'Vollkorn', serif;
    font-size: 65px;
    font-weight: 700;
}
h2, h3, p {
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: 48px;
}

.description {
    font-size: 32px;
}
.hero {
    background-color: #FFFBFB;
    padding: 20px;

}

.navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif;
    margin-right: 20px;
    font-size: 18px;
}
.navbar-nav .nav-link.active {
    color: #FF5151;

}
.logo {
width: 170px;
height: 24px;
}
.introduction-field {
    padding: 20px;
    margin-top: 60px;
}
.developer-photo {
  height: 450px;
border-radius: 32px;
}

.introduction-photo {
    display: flex;
    justify-content: center;
    padding: 5px;
}
.introduction {
    margin-top: 10px;
}
.btn-contact-me {
    background: #FF5151;
    margin-top: 30px;
    border-radius: 32px;
    color: #FDFDFD;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    padding: 20px 55px;
    transition: background-color 0.3s ease-in;
}
.btn-contact-me:hover {
    background-color: #F00;
    color: #FDFDFD;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 2px rgb(235, 235, 235) !important;
  outline-width: 1px !important;
}
@media (max-width:990px) {
  h1 , h2, h3, p {
     text-align:  center;
   }
   h1 {
    font-size: 45px;
   }
   h2 {
    font-size:30px;
   }
   .description {
    font-size: 15px;
}
  .introduction {
     margin-top: 30px;
   }
   .btn-contact-me {
    display: block;
    margin: 0 auto;
    font-size: 15px;
    padding: 15px 15px;
    max-width: 200px;
  
   }
   
   .developer-photo {
    height: 300px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    }
    .introduction-field {
      margin-top: 15px;
  }
 }
 